@model TraversalCoreUI.Areas.Member.Models.Profile.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız")
    @Html.TextBoxFor(x=> x.Name,new{@class = "form-control"})
    <br />
    @Html.Label("Soyadınız")
    @Html.TextBoxFor(x=> x.Surname,new{@class = "form-control"})
    <br />   
    @Html.Label("Mail Adresiniz")
    @Html.TextBoxFor(x=> x.Mail,new{@class = "form-control" , @type ="mail"})
    <br />
    @Html.Label("Şifreniz")
    @Html.TextBoxFor(x=> x.Password,new{@class = "form-control" , @type="password"})
    <br />
    @Html.Label("Şifre Tekrar")
    @Html.TextBoxFor(x=> x.ConfirmPassword,new{@class = "form-control" , @type="password"})
    <br />    
    @Html.Label("Telefon Numarası")
    @Html.TextBoxFor(x=> x.PhoneNumber,new{@class = "form-control" , @type="phone"})
    <br />
    <div class="form-group">
        @Html.Label("Resim Seçin")
        <input type="file" name="Image" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>