@model EntityLayer.Concrete.Reservation

@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yeni Rezervasyon Sayfası</h1>

<form method="post">
    
    <div class="form-group">
    @Html.Label("Lokasyon")
    @Html.DropDownListFor(x=> x.Destination,(List<SelectListItem>) ViewBag.reservations,new{@class="form-control"})
    </div>  
    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        @Html.TextBoxFor(x=> x.PersonCount , new{@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        @Html.TextBoxFor(x=> x.ReservationDate , new{@class = "form-control", @type = "date" , @min= DateTime.Now })
    </div>
    <div class="form-group">
        @Html.Label("Varsa Eklemek İstedikleriniz ")
        @Html.TextAreaFor(x=> x.Description , new{@class = "form-control", @type = "text"})
    </div>
    <button class="btn btn-outline-success">Rezervasyon Oluştur</button>
</form>