@model DTOLayer.DTOs.AnnouncementDTOs.AnnouncementUpdateDto
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Güncelleme Sayfası</h1>

<form method="post">
    @Html.HiddenFor(x => x.AnnouncementID)
    <div class="form-group">
        @Html.Label("Duyuru Başlığı")
        @Html.TextBoxFor(x => x.Title,new{@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Title)
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Duyuru İçeriği")
        @Html.TextBoxFor(x => x.Content,new{@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Content)
    </div>
    <br />
    <button class="btn btn-outline-primary">Duyuruyu Güncelle</button>
</form>
