@model TraversalCoreUI.Models.MailVM.MailRequest

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Mail Gönderim Sayfası</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Alıcı Mail Adresi")
        @Html.TextBoxFor(x=> x.ReceiverMail, new{ @class = "form-control"})
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Konu Başlığı")
        @Html.TextBoxFor(x=> x.Subject, new{ @class = "form-control"})
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Mesaj İçeriği")
        @Html.TextAreaFor(x=> x.Body, new{ @class = "form-control", @cols = 30 , @rows = 5})
    </div>
    <br />      
    <br />
    <button class="btn btn-outline-primary">Mail Gönder</button>
</form>